<div class="nav-item" [ngClass]="{'expanded': expanded }"
     routerLinkActive="active expanded"
     [routerLinkActiveOptions]="model.linkOption"
     *hasRole="model.roles">

  <div *ngIf="model.subItems; then thenBlock else elseBlock"></div>

  <ng-template #thenBlock>
    <a>
      <i [class]="model.icon" *ngIf="model.icon"></i>
      <span i18n="@@sidebar-menu" class="menuFont">
        {{model.text}}
      </span>
    </a>
    <div class="sub-items" *ngIf="model.subItems.length >0">
      <div>
        <ul>
          <li *ngFor="let subItem of model.subItems">
            <app-nav-item [model]="subItem"></app-nav-item>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>

  <ng-template #elseBlock>
    <a [routerLink]="model.routerLink">
      <i *ngIf="model.icon" [class]="model.icon"></i>
      <span i18n="@@sidebar-menu" class="menuFont">
        {{model.text}}
      </span>
    </a>
  </ng-template>
</div>
