<div class="row">
  <h2 class="mb-4">Users</h2>
</div>
<div class="row">
  <div class="au-card col-lg-12 scroll">
    <div class="row" [formGroup]="filtersFormGroup" (change)="toggleFilters()">
      <div class="col-md-6">
        <div class="form-group">
          <label for="search" class="form-control-label">Search</label>
          <input
            type="text"
            id="search"
            class="form-control"
            formControlName="searchInput"
            (keydown.enter)="updateFiltersInQueryParams()"
          >
        </div>
      </div>
      <div class="col-4 clearfix">
        <button class="btn btn-link label-margin mr-4" (click)="clearFilters()">Clear filters</button>
        <button class="btn btn-success label-margin" (click)="updateFiltersInQueryParams()">Update</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Id</th>
            <th>mail</th>
            <th>Sign-up date</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Percent</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users" [routerLink]="user.mail" style="cursor: pointer">
            <td scope="row" style="font-family: monospace">{{user.id}}</td>
            <td>
              {{user.mail}}
            </td>
            <td>{{user.registerDate | date:'medium'}}</td>
            <td>{{user.confirmed ? ((user.confirmationDate | date:'medium') || 'manual') : '-'}}</td>
            <td>{{user.active ? ((user.activationDate | date:'medium') || 'manual') : '-'}}</td>
            <td>{{user.percent|number}}%</td>
          </tr>
          </tbody>
          <tfoot *ngIf="loading">
          <tr>
            <td colspan="9">
              Loading... <i class="fa fa-spinner loading"></i>
            </td>
          </tr>
          </tfoot>
          <tfoot *ngIf="users?.length == 0 && !loading">
          <tr>
            <td colspan="9">
              No users.
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <paginator [amount]="pageCount" [selected]="pageSelected"></paginator>
      </div>
    </div>
  </div>
</div>
