.to-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: text;
}

.max-width-150 {
  max-width: 150px;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched,
select.ng-valid.ng-touched,
.form-control.ng-valid.ng-touched {
  border: 1px solid #c8cace;
  margin: 0;
}

input.ng-valid.ng-touched:focus,
textarea.ng-valid.ng-touched:focus,
select.ng-valid.ng-touched:focus,
.form-control.ng-valid.ng-touched:focus {
  color: #666666;
  background-color: #fff;
  border-color: #c8cace;
  outline: 0;
}

.disabled {
  background-color: rgba(255,255,135,0.5) !important;
}

.loading {
  -webkit-animation:spin 1.5s ease-in-out infinite;
  -moz-animation:spin 1.5s ease-in-out infinite;
  animation:spin 1.5s ease-in-out infinite ;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
