.question {
  border: 1px solid #c8cace;
  margin-bottom: -1px;
}

.question-text {
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.question-answer {
  background-color: #fff;
  line-height: 200%;
  overflow: hidden;
}


