.file-input {
  background: #ccc;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  display: table;
}

:host.ng-invalid.ng-touched > .file-input {
  background: rgba(220, 53, 69, 0.11);
  border: 1px solid #dc3545;
}

:host.ng-valid > .file-input {
  background: #cdc;
  border: 1px solid #81b616;
}

.file-input.shape-square {
  width: 250px;
  height: 250px;
}

.file-input.shape-offer {
  width: 250px;
  height: 250px;
}

.file-input.shape-desktopLanding {
  width: 282px;
  height: 187px;
}

.file-input.shape-mobileLanding {
  width: 215px;
  height: 315px;
}

.file-input.shape-avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.file-input.shape-avatar .image {
}

.text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
}

.image {
  border-radius: 3px;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.empty {
  background-size: unset;
}

.hide {
  display: none;
}
