.modal.fade {
  display: none;
  background: transparent;
}

.modal.fade.show {
  display: block;
}

.modal.fade .modal-background {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  transition: background-color 5s;
}

.modal.fade.show .modal-background {
  background: transparent;
  transition: background-color 5s;
}

.modal.fade .modal-dialog {
  transform: translate(0, -100%);
  transition: transform 5s;
}

.modal.fade.show .modal-dialog {
  transform: translate(0);
  transition: transform 5s;
}

.lb-body {
  padding: 6%;
}

.au-card {
  box-shadow: 0px 2px 100px 0px rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  margin: 10% auto;
}

.close-button {
  font-size: 20px;
  cursor: pointer;
}

.name-label {
  margin-top: 0.2rem;
}
